* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --color-red: #C73B0F;
    --color-rose-900: #260F08;
    --color-rose-500: #76635A;
    --color-rose-400: #AD8A85;
    --color-rose-300: #CAAFA7;
    --color-rose-100: #F5EEEC;
    --color-rose-50: #FCF8F6;
    --color-green: #1EA575;

}
body {
    background-color: var(--color-rose-50);
    height: 100vh;
    font-family: "Red Hat Display", sans-serif;
}

.container {
    padding: 24px;
}

.desserts__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 1.2;
    color: var(--color-rose-900);
    margin-bottom: 32px;
}

.desserts-content {
    display: grid;
    gap: 24px;
    list-style-type: none;
}

.desserts__picture {
    position: relative;
}

.desserts__img {
    position: relative;
    display: block;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.btnCart {
    background-color: #fff;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    padding: 12px;
    border-radius: 50px;
    width: 160px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-rose-400);
    cursor: pointer;
}

.btnCart:hover {
    border-color: var(--color-red);
}

.decrement-increment-btn {
    background-color: var(--color-red);
    justify-content: space-between;
    cursor: auto;
}

.desserts__add-cart {
    color: var(--color-rose-900);
    font-size: 14px;
    font-weight: 600;
}

.count {
    color: #fff;
    font-size: 16px;
}

.circumference {
    border: 1px solid #fff;
    display: grid;
    place-items: center;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
}

.circumference:hover {
    background-color: #fff;
}
.circumference:hover > path {
    fill: var(--color-red);
}


.desserts__information {
    margin-top: 38px;
}

.desserts__category {
    font-size: 14px;
    color: var(--color-rose-500);
    font-weight: 400;
}

.desserts__name {
    color: var(--color-rose-900);
    font-weight: 600;
    font-size: 16px;
    margin: 4px 0;
}

.desserts__price {
    color: var(--color-red);
    font-size: 16px;
    font-weight: 600;

}

.cart {
    margin-top: 32px;
    padding: 24px;
    border-radius: 12px;
    background-color: #fff;
    margin-inline: auto;
    max-width: 688px;
}

.desssert__part1 {
    max-width: 375px;
    margin-inline: auto;
}

@media screen and (min-width: 768px) {
    .desserts-content {
        grid-template-columns: repeat(3, 1fr);
    }

    .desssert__part1 {
        max-width: 688px;
    }
    
    .cart {
        max-width: 688px;
    }
}

@media screen and (min-width: 1024px) {

    .desssert__part1 {
        max-width: 800px;
    }

    .cart {
        margin-inline: auto;
        max-width: 800px;
        min-width: 360px;
    }
}

@media screen and (min-width: 1440px) {

    .container {
        margin-inline: auto;
        display: flex;
        align-items: flex-start;
        gap: 32px;
        max-width: 1300px;
    }

    .cart {
        margin-top: 0;
        margin-inline: auto;
    }
    
}

.cart__count {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: var(--color-red);
    margin-bottom: 24px;
}

.cart__figure {
    display: grid;
    justify-items: center;
    margin-bottom: 24px;
}

.cart__appear {
    color: var(--color-rose-500);
}


#list {
    list-style-type: none;
    display: grid;
    grid-row-gap: 16px;
}

.cart__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--color-rose-100);
}

.cart__name {
    margin-bottom: 16px;
    color: var(--color-rose-900);
    font-size: 14px;
    font-weight: 600;
}

.cart__prices {
    display: flex;
    gap: 24px;
    font-size: 14px;
}

.cart__number {
    color: var(--color-red);
    font-weight: 600;
}

.cart__base {
    color: var(--color-rose-500);
}

.cart__total {
    color: var(--color-rose-500);
    font-weight: 600;
}

.cart__close {
    cursor: pointer;
    display: grid;
    place-items: center;
    padding: 4px;
    border: 2px solid var(--color-rose-400);
    border-radius: 50%;
}

.cart__close  path {
    cursor: pointer;
    fill: var(--color-rose-400);
}

.cart__close:hover {
    border-color: var(--color-rose-900);
}

.cart__close:hover  path {
    fill: var(--color-rose-900);
}

#block {
    margin-top: 24px;
    display: grid;
    grid-row-gap: 24px;
}

.cart__block {
    display: flex;
    justify-content: space-between;
    color: var(--color-rose-900);
}

.cart__text-total {
    font-size: 14px;
}

.cart__allTotal {
    font-size: 24px;
    font-weight: bold;
}

.cart__carbon {
    padding: 16px; border-radius: 8px;
    background-color: var(--color-rose-50);
    color: var(--color-rose-900);
    display: flex;
    justify-content: center;
    align-items: center; gap: 12px;
}

.cart__text {
    font-size: 14px;
}

.cart__confirm-order {
    padding: 16px 24px;
    background-color: var(--color-red);
    color: #fff;
    border: none;
    border-radius: 50px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.cart__confirm-order:hover {
    background-color: #7e270d;
}